
    <a class="carousel-item" href="#one!"><img src="/img/{{city}}/1.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="/img/{{city}}/2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="/img/{{city}}/3.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="/img/{{city}}/4.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="/img/{{city}}/5.jpg"></a>
